In [7]:
# 경고(warning) 비표시
# import warnings

# warnings.filterwarnings('ignore')

# 웹에서 주문수를 분석

### 1.  데이터 읽기

In [2]:
# customer_master.csv : 쇼핑몰 사이트의 고객 정보
import pandas as pd


custmer = pd.read_csv('.\Data-in\customer_master.csv')

custmer.head(3)

<>:5: SyntaxWarning: invalid escape sequence '\D'
<>:5: SyntaxWarning: invalid escape sequence '\D'
C:\Users\skh13\AppData\Local\Temp\ipykernel_19004\10628687.py:5: SyntaxWarning: invalid escape sequence '\D'
  custmer = pd.read_csv('.\Data-in\customer_master.csv')

,customer_id,customer_name,registration_date,email,gender,age,birth,pref
0,IK152942,김서준,2019-01-01 0:25,hirata_yuujirou@example.com,M,29,1990-06-10,대전광역시
1,TS808488,김예준,2019-01-01 1:13,tamura_shiori@example.com,F,33,1986-05-20,인천광역시
2,AS834628,김도윤,2019-01-01 2:00,hisano_yuki@example.com,F,63,1956-01-02,광주광역시

In [3]:
# item_master.csv : 상품데이터

item = pd.read_csv('.\Data-in\item_master.csv')

item.head(3)

<>:3: SyntaxWarning: invalid escape sequence '\D'
<>:3: SyntaxWarning: invalid escape sequence '\D'
C:\Users\skh13\AppData\Local\Temp\ipykernel_19004\1099729917.py:3: SyntaxWarning: invalid escape sequence '\D'
  item = pd.read_csv('.\Data-in\item_master.csv')

  item_id item_name  item_price
0    S001      PC-A       50000
1    S002      PC-B       85000
2    S003      PC-C      120000

In [6]:
# transaction_1.csv와 transaction_2.csv : 구매내역 데이터

tran_1 = pd.read_csv(r'C:\Users\skh13\OneDrive\Documents\GitHub\ubion_5\project01\03. 데이터 분석\04. Marketing\01.웹에서주문수를분석\Data-in\transaction_1.csv')

tran_2 = pd.read_csv(r'C:\Users\skh13\OneDrive\Documents\GitHub\ubion_5\project01\03. 데이터 분석\04. Marketing\01.웹에서주문수를분석\Data-in\transaction_2.csv')

tran_1.head(3)
tran_2.head(3)

  transaction_id   price         payment_date customer_id
0    T0000005113  295000  2019-06-15 07:20:27    TS169261
1    T0000005114   50000  2019-06-15 07:35:47    HI599892
2    T0000005115   85000  2019-06-15 07:56:36    HI421757

### 2. 데이터 결합(유니언)

In [10]:
# concat : 세로로 합치기

tran=pd.concat([tran_1,tran_2], ignore_index= True)

tran.head()

  transaction_id   price         payment_date customer_id
0    T0000000113  210000  2019-02-01 01:36:57    PL563502
1    T0000000114   50000  2019-02-01 01:37:23    HD678019
2    T0000000115  120000  2019-02-01 02:34:19    HD298120
3    T0000000116  210000  2019-02-01 02:47:23    IK452215
4    T0000000117  170000  2019-02-01 04:33:46    PL542865

In [12]:
## len() : 길이 확인
len(tran)

6786

### 3. 매출 데이터끼리 결합(조인)

In [20]:
tran_detail_1 = pd.read_csv('C:\Users\skh13\OneDrive\Documents\GitHub\ubion_5\project01\03. 데이터 분석\04. Marketing\01.웹에서주문수를분석\Data-in\transaction_1.csv', encoding=cp949)
tran_detail_2 = pd.read_csv('C:\Users\skh13\OneDrive\Documents\GitHub\ubion_5\project01\03. 데이터 분석\04. Marketing\01.웹에서주문수를분석\Data-in\transaction_2.csv', encoding=cp949)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (2922285654.py, line 1)

### 4. 마스터데이터를 결합(조인)

### 5. 필요한 데이터 컬럼 만들기

### 6. 데이터 검산

### 7. 각종 통계량 파악